---
# cSpell:ignore dotnetfw htmlmin inlinehilite materialx prebuild pymdownx superfences twemoji
site_name: AlesInfiny Maris OSS Edition
site_url: https://maris.alesinfiny.org/
docs_dir: contents
copyright: "Copyright &copy; 2023 BIPROGY Inc. All rights reserved."
site_author: "AlesInfiny Maris OSS Edition コミュニティ"
site_description: "AlesInfiny Maris OSS Edition のポータルサイトです。"
site_dir: build-artifacts
repo_name: AlesInfiny/maris
repo_url: https://github.com/AlesInfiny/maris
edit_uri: edit/main/documents/contents/

# yamllint disable rule:comments-indentation
nav:
  - AlesInfiny Maris OSS Edition にようこそ:
      - index.md
  - アプリケーションアーキテクチャ:
      - app-architecture/index.md
      - 概要編:
          - app-architecture/overview/index.md
          - 構築できるアプリケーション形態: app-architecture/overview/application-kind.md
          - アプリケーション構成: app-architecture/overview/application-structure.md
          - 構成管理: app-architecture/overview/configuration-management.md
          - .NETアプリケーションの処理方式:
              - app-architecture/overview/dotnet-application-processing-system/index.md
              - 例外処理方針: app-architecture/overview/dotnet-application-processing-system/exception-handling-policy.md
              - ログ出力方針: app-architecture/overview/dotnet-application-processing-system/logging-policy.md
              - イベント ID 管理方針: app-architecture/overview/dotnet-application-processing-system/event-id-management-policy.md
              - メッセージ管理方針: app-architecture/overview/dotnet-application-processing-system/message-management-policy.md
              - 入力値検証方針: app-architecture/overview/dotnet-application-processing-system/input-validation-policy.md
              - トランザクション管理方針: app-architecture/overview/dotnet-application-processing-system/transaction-management-policy.md
              - ヘルスチェックの必要性: app-architecture/overview/dotnet-application-processing-system/health-check-necessity.md
          - .NET アプリケーションのアーキテクチャ選定基準: app-architecture/overview/dotnet-application-architecture-selection-guideline.md
      - クライアントサイドレンダリング編:
          - app-architecture/client-side-rendering/index.md
          - CSR アーキテクチャ概要: app-architecture/client-side-rendering/csr-architecture-overview.md
          - フロントエンドアーキテクチャ: app-architecture/client-side-rendering/frontend-architecture.md
          - 全体処理方式:
              - app-architecture/client-side-rendering/global-function/index.md
              - 例外処理方針: app-architecture/client-side-rendering/global-function/exception-handling.md
              - ヘルスチェック機能の実装方針: app-architecture/client-side-rendering/global-function/health-check-implementation.md
              - ログ出力方針: app-architecture/client-side-rendering/global-function/logging-policy.md
              - ストア設計方針: app-architecture/client-side-rendering/global-function/store-design-policy.md
              - 入力値検査方針: app-architecture/client-side-rendering/global-function/validation-policy.md
              - メッセージ管理方針: app-architecture/client-side-rendering/global-function/message-management-policy.md
          - テスト方針:
              - app-architecture/client-side-rendering/test/index.md
              - バックエンドアプリケーションのテスト:
                  - app-architecture/client-side-rendering/test/backend-application/index.md
                  - 結合テスト ( ITa ): app-architecture/client-side-rendering/test/backend-application/integration-test.md
                  # - 単体テスト ( UT0 ): app-architecture/client-side-rendering/test/backend-application/unit-test.md
      - サーバーサイドレンダリング編:
          - app-architecture/server-side-rendering/index.md
          - SSR アーキテクチャ概要: app-architecture/server-side-rendering/ssr-architecture-overview.md
          - 全体処理方式:
              - app-architecture/server-side-rendering/global-function/index.md
              - 例外処理方針: app-architecture/server-side-rendering/global-function/exception-handling.md
              - ログ出力方針: app-architecture/server-side-rendering/global-function/logging-policy.md
              - 入力値検査方針: app-architecture/server-side-rendering/global-function/validation-policy.md
              - メッセージ管理方針: app-architecture/server-side-rendering/global-function/message-management-policy.md
      - アプリケーションセキュリティ編:
          - app-architecture/security/index.md
          - CSRF （クロスサイトリクエストフォージェリ）: app-architecture/security/csrf.md
          - XSS （クロスサイトスクリプティング）: app-architecture/security/xss.md
          - クリックジャッキング: app-architecture/security/clickjacking.md
      # - コンソールアプリケーション編:
          # - app-architecture/console-app/index.md
      # - クックブック:
          # - cook-book/index.md
          # - 帳票印刷: cook-book/report.md
  - ガイド:
      - guidebooks/index.md
      - Git リポジトリ構築ガイド:
          - guidebooks/git/index.md
          - Git リポジトリホスティングサービスの選択: guidebooks/git/select-git-hosting-service.md
          - リポジトリ構造の検討: guidebooks/git/consider-repository-structure.md
          - フォルダー構造の検討: guidebooks/git/consider-folder-structure.md
          - Git の基本設定: guidebooks/git/git-settings.md
      - アプリケーション開発手順:
          - guidebooks/how-to-develop/index.md
          - CSR 編:
              - guidebooks/how-to-develop/csr/index.md
              - .NET 編:
                  - guidebooks/how-to-develop/csr/dotnet/index.md
                  - 事前準備: guidebooks/how-to-develop/csr/dotnet/preparation.md
                  - ソリューション構造の作成: guidebooks/how-to-develop/csr/dotnet/create-solution-structure.md
                  - プロジェクトの作成: guidebooks/how-to-develop/csr/dotnet/create-project.md
                  - プロジェクトの共通設定: guidebooks/how-to-develop/csr/dotnet/project-settings.md
                  - プロジェクト構造の作成: guidebooks/how-to-develop/csr/dotnet/create-project-structure.md
                  - ASP.NET Core Web API プロジェクトの構成: guidebooks/how-to-develop/csr/dotnet/configure-asp-net-core-web-api-project.md
                  - セキュリティの設定: guidebooks/how-to-develop/csr/dotnet/security-settings.md
                  - ASP.NET Core with Vite プロジェクトの構成: guidebooks/how-to-develop/csr/dotnet/configure-asp-net-core-with-vite-project.md
                  - 結合テストプロジェクトの構成: guidebooks/how-to-develop/csr/dotnet/configure-integration-test-project.md
                  - ヘルスチェック API の実装: guidebooks/how-to-develop/csr/dotnet/health-check-api.md
              - Vue.js 編:
                  - guidebooks/how-to-develop/csr/vue-js/index.md
                  - 事前準備: guidebooks/how-to-develop/csr/vue-js/preparation.md
                  - ブランクプロジェクトの作成: guidebooks/how-to-develop/csr/vue-js/create-vuejs-blank-project.md
                  - ブランクプロジェクトのフォルダー構造: guidebooks/how-to-develop/csr/vue-js/folder-structure-of-blank-project.md
                  - ワークスペースの設定: guidebooks/how-to-develop/csr/vue-js/setting-workspaces.md
                  - プロジェクトの共通設定: guidebooks/how-to-develop/csr/vue-js/project-settings.md
                  - 開発に使用するパッケージ: guidebooks/how-to-develop/csr/vue-js/optional-packages.md
                  - 静的コード分析とフォーマット: guidebooks/how-to-develop/csr/vue-js/static-verification-and-format.md
                  - メッセージ管理機能の設定: guidebooks/how-to-develop/csr/vue-js/message-management.md
                  - 入力値検証: guidebooks/how-to-develop/csr/vue-js/input-validation.md
                  - Open API 仕様書からのクライアントコード生成: guidebooks/how-to-develop/csr/vue-js/create-api-client-code.md
                  - カスタムエラーの設定: guidebooks/how-to-develop/csr/vue-js/custom-error-settings.md
                  - イベントハンドリングの設定: guidebooks/how-to-develop/csr/vue-js/event-handling-settings.md
                  - エラーハンドラーの設定: guidebooks/how-to-develop/csr/vue-js/error-handler-settings.md
                  - モックモードの設定: guidebooks/how-to-develop/csr/vue-js/mock-mode-settings.md
                  - CSS の設定と CSS フレームワークの適用: guidebooks/how-to-develop/csr/vue-js/css.md
              - ローカル開発環境の構築:
                  - guidebooks/how-to-develop/csr/local-environment/index.md
              - アプリケーションの発行:
                  - guidebooks/how-to-develop/csr/publication/index.md
              - CORS 環境の構築:
                  - guidebooks/how-to-develop/csr/cors/index.md
          - SSR編:
              - guidebooks/how-to-develop/ssr/index.md
              - 事前準備: guidebooks/how-to-develop/ssr/getting-started.md
              - ソリューション構造の作成: guidebooks/how-to-develop/ssr/solution-structure.md
              - プロジェクトの作成: guidebooks/how-to-develop/ssr/create-project.md
              - プロジェクトの共通設定: guidebooks/how-to-develop/ssr/common-configuration.md
              - 開発に使用するパッケージ: guidebooks/how-to-develop/ssr/packages-used.md
              - Blazor Web アプリプロジェクトの構成: guidebooks/how-to-develop/ssr/blazor-web-application-structure.md
              - セキュリティの設定: guidebooks/how-to-develop/ssr/security-settings.md
              - CSS の設定と CSS フレームワークの適用: guidebooks/how-to-develop/ssr/css-setup.md
              # - 入力値検証: guidebooks/how-to-develop/ssr/input-validation.md
              # - 画面をまたがる情報の保持: guidebooks/how-to-develop/ssr/state-management.md
              - 集約エラーハンドラーの実装: guidebooks/how-to-develop/ssr/centralized-error-handling.md
              # - 結合テストプロジェクトの構成: guidebooks/how-to-develop/ssr/integration-tests-setup.md
              # - ヘルスチェック API の実装: guidebooks/how-to-develop/ssr/health-checks.md
              - ローカル開発環境の構築: guidebooks/how-to-develop/ssr/local-development.md

          # - アプリケーションテスト:
              # - guidebooks/app-testing/index.md
      # - 規約:
      #     - guidebooks/conventions/index.md このページができるまで、コーディング規約を一段上のメニューに配置している。
      - コーディング規約: guidebooks/conventions/coding-conventions.md
      - マイグレーション:
          - guidebooks/migration/index.md
          - .NET Framework にとどまることのリスク:
              - guidebooks/migration/dotnetfw-risk/index.md
              - .NET ランタイムの最新動向: guidebooks/migration/dotnetfw-risk/dotnet-runtime-trends.md
              - .NET Framework の開発停止によるリスク: guidebooks/migration/dotnetfw-risk/risk-of-dotnet-framework.md
              - .NET への移行: guidebooks/migration/dotnetfw-risk/migration-to-dotnet.md
              # - 開発プロセスのモダナイズ:
                  # - guidebooks/modern-dev-process/index.md
  - サンプル解説:
      - samples/index.md
      - CSR アプリケーション:
          - samples/dressca/index.md # Dresscaのクイックスタート
          # - Dresscaの解説: samples/dressca/explanation.md refs サンプルアプリケーション（Dressca）解説のドキュメントを作成する #9
          - Azure Active Directory B2C による認証の利用:
              - samples/dressca/azure-ad-b2c/index.md
              - MSAL.js で提供される秘密情報のキャッシュ保存先: samples/dressca/azure-ad-b2c/azure-ad-b2c-consideration.md
        #   - Microsoft Entra External ID による認証の利用: samples/entra-external-id-sample-for-spa/index.md
      - SSR アプリケーション:
          - samples/dressca-cms/index.md # Dressca-CMS のクイックスタート
          # - Dressa-CMSの解説: samples/dressca-cms/explanation.md
      - 要件別サンプル:
          - samples/requirement-based/index.md
          - コンソールアプリケーションでの DI の利用: samples/requirement-based/console-app-with-di.md
  - AlesInfiny Maris OSS Edition について:
      - 利用規約: about-maris/terms.md
      - 商標: about-maris/trademarks.md
      - クレジット表記: about-maris/credits.md
# yamllint enable rule:comments-indentation

theme:
  name: material
  custom_dir: overrides
  favicon: assets/images/favicon.png
  features:
    - content.action.view
    - content.code.annotate
    - navigation.indexes
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - navigation.tracking
  font:
    text: Noto Sans JP
    code: Source Code Pro
  icon:
    repo: fontawesome/brands/github
    view: material/eye
  language: ja
  logo: assets/maris-logo.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: blue
      accent: indigo
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: blue
      accent: cyan

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.snippets:
      check_paths: true
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - toc:
      permalink: ⚓︎
      toc_depth: 3

extra:
  footer_urls:
    terms: about-maris/terms/
    trademarks: about-maris/trademarks/
    credits: about-maris/credits/
    rss_created: feed_rss_created.xml
    rss_updated: feed_rss_updated.xml
  version: !ENV [VERSION, "Local Version"]

extra_css:
  - stylesheets/overrides.css

hooks:
  - hooks/github_markdown_fetcher.py

plugins:
  - git-revision-date-localized:
      enabled: !ENV [BUILD_DOCUMENTS, false]
      enable_creation_date: true
      timezone: Asia/Tokyo
      type: date
  - search:
      lang: ja
  - minify:
      minify_html: true
      minify_js: true
      htmlmin_opts:
        remove_comments: true
  - social:
      enabled: !ENV [BUILD_DOCUMENTS, false]
      cards_layout_options:
        font_family: Noto Sans JP
  - rss:
      enabled: !ENV [BUILD_DOCUMENTS, false]
