name: "サンプルアプリケーションのソースコード圧縮"
description: "サンプルアプリケーションのソースコードを圧縮します。"
inputs:
  compressed-source-path:
    description: "圧縮したソースコードを配置するフォルダのGITHUB_WORKSPACEからの相対パス"
    required: true

runs:
  using: "composite"
  steps:
    - name: dressca.zip の作成
      shell: bash
      run: |
        cd samples/Dressca
        zip -r ${GITHUB_WORKSPACE}/${{ inputs.compressed-source-path }}/dressca.zip *

    - name: console-app-with-di.zip の作成
      shell: bash
      run: |
        cd samples/ConsoleAppWithDI
        zip -r  ${GITHUB_WORKSPACE}/${{ inputs.compressed-source-path }}/console-app-with-di.zip *

    - name: azure-ad-b2c-auth.zip の作成
      shell: bash
      run: |
        cd samples/AzureADB2CAuth
        zip -r ${GITHUB_WORKSPACE}/${{ inputs.compressed-source-path }}/azure-ad-b2c-auth.zip *

    - name: azure-cms.zip の作成
      shell: bash
      run: |
        cd samples/DresscaCMS
        zip -r ${GITHUB_WORKSPACE}/${{ inputs.compressed-source-path }}/azure-cms.zip *
