.bread-crumb-separator {
    margin: 0 8px;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.container {
    border: solid 1px #808080;
    padding: 10px;
    box-sizing: border-box;
    width:100%;
}

.border{
    border-top:solid 1px #808080 !important;
    width:100% !important;
}