@page "/"
@attribute [Authorize]

<PageTitle>Dressca-CMS - トップ</PageTitle>

<div>
    <h3>Dressca-CMS トップ</h3>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="30">
        <div>左メニューから、編集する項目を選択してください。</div>
    </FluentStack>
</div>
