@page "/Account/Login"
@attribute [AllowAnonymous]
@attribute [ExcludeFromInteractiveRouting]

@using System.ComponentModel.DataAnnotations
@using DresscaCMS.Authentication.Infrastructures.Entities
@using DresscaCMS.Web.Components.Account
@using DresscaCMS.Web.Components.Account.Shared
@using Microsoft.AspNetCore.Identity

@inject IdentityRedirectManager RedirectManager
@inject ILogger<Login> Logger
@inject SignInManager<ApplicationUser> SignInManager

<PageTitle>ログイン</PageTitle>

<h3>ログイン</h3>
<EditForm EditContext="this.editContext" method="post" OnSubmit="this.LoginUser" FormName="login">
    <DataAnnotationsValidator />
    <FluentStack Orientation="Orientation.Vertical">
        <FluentTextField @bind-Value="this.Input.Email" Name="Input.Email" Autocomplete="username webauthn" Placeholder="name@example.com">
            メールアドレス
            <RequiredMark />
        </FluentTextField>
        <FluentValidationMessage For="() => this.Input.Email" />
        <FluentTextField TextFieldType="TextFieldType.Password" @bind-Value="this.Input.Password" Name="Input.Password" Autocomplete="current-password">
            パスワード
            <RequiredMark />
        </FluentTextField>
        <FluentValidationMessage For="() => this.Input.Password" />
        <FluentCheckbox @bind-Value="this.Input.RememberMe" Name="Input.RememberMe" Label="ログイン状態を保持する" />
        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">ログイン</FluentButton>
        <FluentValidationSummary Model="this.editContext.Model" />
    </FluentStack>
</EditForm>

@code {

    private EditContext editContext = default!;
    private ValidationMessageStore messageStore = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.Input ??= new();
        this.editContext = new EditContext(this.Input);
        this.messageStore = new ValidationMessageStore(this.editContext);
    }

    public async Task LoginUser()
    {
        this.messageStore.Clear();
        if (!this.editContext.Validate())
        {
            return;
        }

        // アカウントロックアウトに対してログイン失敗をカウントしません
        // パスワード失敗でアカウントロックアウトを有効にするには、lockoutOnFailure: true に設定してください
        var result = await this.SignInManager.PasswordSignInAsync(this.Input.Email, this.Input.Password, this.Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            this.Logger.LogInformation("ユーザーがログインしました。");
            this.RedirectManager.RedirectTo(this.ReturnUrl);
        }
        else
        {
            this.messageStore.Add(
                new FieldIdentifier(this.editContext.Model, string.Empty),
                "エラー: ログイン試行が無効です。");
            this.editContext.NotifyValidationStateChanged();
        }
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "メールアドレスを入力してください。")]
        [EmailAddress(ErrorMessage = "有効なメールアドレスを入力してください。")]
        public string Email { get; set; } = string.Empty;

        [Required(ErrorMessage = "パスワードを入力してください。")]
        [DataType(DataType.Password)]
        public string Password { get; set; } = string.Empty;

        [Display(Name = "ログイン状態を保持する")]
        public bool RememberMe { get; set; }
    }
}
