@page "/not-found"
@layout MainLayout
@attribute [AllowAnonymous]

<PageTitle>Dressca-CMS - Not Found</PageTitle>

<div>
    <h3>Not Found</h3>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="30">
        <div>申し訳ありません、お探しのコンテンツが見つかりません。</div>
    </FluentStack>
</div>