<!-- Copyright and theme information -->
<div class="md-copyright">
    {% if config.copyright %}
      <div class="md-copyright__highlight">
        {{ config.site_name }}
        {{ config.extra.version }}
        |
        {{ config.copyright }}
      </div>
    {% endif %}
    <div class="md-copyright__highlight">
        AlesInfiny Maris について：
        <a href="{{ config.extra.footer_urls.terms|url }}">利用規約</a>
        <span>|</span>
        <a href="{{ config.extra.footer_urls.trademarks|url }}">商標</a>
        <span>|</span>
        <a href="{{ config.extra.footer_urls.credits|url }}">クレジット表記</a>
    </div>
</div>