<!-- Copyright and theme information -->
<div class="md-copyright">
    {% if config.copyright %}
      <div class="md-copyright__highlight">
        {{ config.site_name }}
        {{ config.extra.version }}
        |
        {{ config.copyright }}
      </div>
    {% endif %}
    <div>
        <a href="{{ config.extra.footer_urls.terms|url }}">利用規約</a>
        <span>|</span>
        <a href="{{ config.extra.footer_urls.license|url }}">ライセンス</a>
        <span>|</span>
        <a href="{{ config.extra.footer_urls.disclaimer|url }}">免責事項</a>
        <span>|</span>
        <a href="{{ config.extra.footer_urls.other_company_trademarks|url }}">他社所有商標について</a>
    </div>
</div>