---
# cspell:ignore endgroup fjogeleit markdownlint pymdown softprops textlintignore textlintrc webapps yamlignore

name: ドキュメントのビルド(CI用)

permissions:
  contents: read

on:
  pull_request:
    branches: [main]
    paths:
      - "documents/**"
      - "iis-files/**"
      - "samples/**"
      - ".github/workflows/build-documents-ci.yml"
      - ".github/workflows/build-and-release-documents.yml"
      - ".github/workflows/lint-documents/action.yml"
      - ".github/workflows/compress-sample-source/action.yml"
      - ".github/workflows/build-documents/action.yml"
      - ".github/workflows/pack-and-upload/action.yml"
      - ".markdownlint.yaml"
      - ".textlintignore"
      - ".textlintrc"
      - ".yaml-lint.yml"
      - ".yamlignore"
      - "package-lock.json"
      - "package.json"
      - "requirements.txt"
  workflow_dispatch:

env:
  DOCUMENT_BASE_PATH: documents
  DOCUMENT_OUTPUT_FOLDER_NAME: build-artifacts
  DOCUMENT_ARTIFACTS_FILENAME: docs.zip
  COMPRESSED_SOURCE_PATH: contents/samples/downloads


jobs:
  build:
    name: ドキュメントのビルド
    runs-on: ubuntu-latest
    steps:
      - name: ブランチのチェックアウト
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0

      - id: lint-documents
        name: ドキュメントの Lint
        continue-on-error: true
        uses: ./.github/workflows/lint-documents

      - name: サンプルアプリケーションのソースコード圧縮
        uses: ./.github/workflows/compress-sample-source
        with:
          compressed-source-path: ${{ env.DOCUMENT_BASE_PATH }}/${{ env.COMPRESSED_SOURCE_PATH }}

      - name: ドキュメントのビルド
        uses: ./.github/workflows/build-documents
        with:
          document-base-path: ${{ env.DOCUMENT_BASE_PATH }}
          output-folder-name: ${{ env.DOCUMENT_OUTPUT_FOLDER_NAME }}

      - name: Lint結果の成否判定
        if: steps.lint-documents.outcome == 'failure'
        run: |
          exit 1;

      - name: ビルドアーティファクトのパッケージングとアップロード
        if: github.event_name == 'workflow_dispatch'
        uses: ./.github/workflows/pack-and-upload
        with:
          packaging-folder-path: ${{ env.DOCUMENT_BASE_PATH }}/${{ env.DOCUMENT_OUTPUT_FOLDER_NAME }}
          document-artifact-path: ${{ env.DOCUMENT_BASE_PATH }}/${{ env.DOCUMENT_ARTIFACTS_FILENAME }}
