---
name: 古いアーティファクトの削除

permissions:
  actions: write
  contents: read

on:
  workflow_dispatch:
    inputs:
      target:
        type: choice
        description: How Many Days Ago
        options:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6

jobs:
  remove-old-artifacts:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: 古いアーティファクトの削除
        uses: c-hive/gha-remove-artifacts@v1
        with:
          age: '{{ github.event.inputs.target }} days'
          skip-tags: true
          skip-recent: 5