---

name: dressca-admin-frontend CI

permissions:
  contents: read

on:
  pull_request:
    branches: [main]
    paths:
      - 'samples/Dressca/dressca-frontend/*.*'
      - 'samples/Dressca/dressca-frontend/admin/**'
      - '.github/workflows/samples-dressca-admin-frontend.ci.yml'
  workflow_dispatch:

defaults:
  run:
    working-directory: samples/Dressca/dressca-frontend/

jobs:
  build:
    name: Dressca 管理のフロントエンドアプリケーションのビルド
    runs-on: ubuntu-latest
    env:
      NO_COLOR: "1"  # 文字化け防止のためカラーコードを出力しない
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Use Node.js LTS
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
        with:
          node-version: lts/*
          # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
          cache: npm
      - name: node パッケージのインストール
        run: npm ci

      - id: run-lint
        name: lintの実行
        run: npm run lint:ci:admin >> /var/tmp/lint-result.txt 2>&1

      - id: run-type-check
        name: TypeScript の型チェック
        run: npm run type-check:admin >> /var/tmp/type-check-result.txt 2>&1

      - id: application-build
        name: アプリケーションのビルド
        run: npm run build-only:dev:admin >> /var/tmp/build-result.txt 2>&1

      - id: run-unit-tests
        name: 単体テストの実行
        run: npm run test:coverage:admin >> /var/tmp/unit-test-result.txt 2>&1
      - id: format-coverage
        name: 単体テストのカバレッジ整形
        uses: ./.github/workflows/coverage-to-markdown
        with:
          coverage_json: ./samples/Dressca/dressca-frontend/admin/coverage/coverage-summary.json
          output_md: /var/tmp/coverage/admin.md
          prefix: /home/runner/work/maris/maris/samples/Dressca/dressca-frontend/admin/
      - name: lintの結果出力
        if: ${{ success() || (failure() && steps.run-lint.conclusion == 'failure') }}
        uses: ./.github/workflows/file-to-summary
        with:
          body: /var/tmp/lint-result.txt
          header: 'lintの結果 :pen:'

      - name: 型チェックの結果出力
        if: ${{ success() || (failure() && steps.run-type-check.conclusion == 'failure') }}
        uses: ./.github/workflows/file-to-summary
        with:
          body: /var/tmp/type-check-result.txt
          header: '型チェックの結果 :pencil2:'

      - name: ビルドの結果出力
        if: ${{ success() || (failure() && steps.application-build.conclusion == 'failure') }}
        uses: ./.github/workflows/file-to-summary
        with:
          body: /var/tmp/build-result.txt
          header: 'ビルドの結果 :gear:'

      - name: 単体テストの結果出力
        if: ${{ success() || (failure() && steps.run-unit-tests.conclusion == 'failure') }}
        uses: ./.github/workflows/file-to-summary
        with:
          body: /var/tmp/unit-test-result.txt
          header: '単体テストの結果 :memo:'
      - name: 単体テストのカバレッジ出力
        if: ${{ success() || (failure() && steps.format-coverage.conclusion == 'failure') }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd  # v8.0.0
        with:
          script: |
            const fs = require('fs/promises')
            const body = await fs.readFile('${{ steps.format-coverage.outputs.markdown_path }}', 'utf8')
            await core.summary
              .addHeading('単体テストのカバレッジ :memo:', 2)
              .addRaw(body)
              .write()